* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30%;
}
.hero {
  display: flex;
  position: relative;
  height: 95vh;
  width: 100vw;
  background: url(https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1080x624/dam/pnr/2022/Motorsports/Porsche-Supercup-2023/M22_5148_fine.jpg/jcr:content/M22_5148_fine.jpg
    ) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #B9FF81;
  opacity: 0.4;
  z-index: -1;
}
.hero--blur {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 1px solid whitesmoke;
  height: 100%;
}
.hero--content {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero--content .logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 56px 0;
}
.hero--content .logo-text {
  color: #fff;
  font-size: 6rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-style: italic;
  margin: 0 0 16px 0;
}
.hero--content .logo-text span {
  font-size: 1.4rem;
  color: #000;
  background: #fff;
  border-radius: 40px;
  padding: 4px 8px;
  height: 32px;
  width: 64px;
  margin: 0 0 0 -4px;
  font-style: normal;
}
.hero--content .logo-meta {
  font-size: 2.4rem;
  color: #000;
}
.about-ioverlay {
  display: flex;
  flex-direction: column;
  margin: 3.2rem 0 0 0;
}
.about-ioverlay--intro h2 {
  font-size: 3.2rem;
  line-height: 5.1rem;
}
.about-ioverlay--intro h2 span {
  color: #5D902B;
  font-weight: 600;
}
.about-ioverlay--intro h3 {
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: 300;
  margin: 3.2rem 0 0 0;
}
.about-ioverlay--included {
  display: flex;
  flex-direction: column;
  background: #E9EBF5;
  border-radius: 1.2rem;
  width: 50%;
  margin: 4rem 2.4rem;
  padding: 4rem 2.4rem;
}
.about-ioverlay--included-content h3 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.about-ioverlay--included-content h2 {
  font-size: 3.2rem;
  margin: 0.8rem 0 1.6rem 0;
}
.about-ioverlay--included-content ul {
  list-style-type: none;
  font-size: 1.6rem;
}
.about-ioverlay--included-content ul li {
  margin: 0 0 0 1.6rem;
}
.animation {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #090808;
  margin: 16px;
  padding: 16px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
  width: 400px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button--text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.button--text span {
  font-size: 1.2rem;
  opacity: 0.75;
}
.button--icon {
  display: flex;
  align-items: center;
  background: #181818;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button--icon span {
  margin: 0 0 0 8px;
}
.button:hover {
  background: #B9FF81;
  color: #090808;
  cursor: pointer;
  padding: 20px;
  margin: 12px;
}
.button:hover .button--icon {
  background: #6CA744;
  color: #fff;
}
